header {
  height: 15vh;
  font-family: roboto, sans-serif;
  font-weight: bold;
  background-color: #92257A;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  align-items: center; }
  header div a {
    color: black;
    text-decoration: none; }
    header div a img {
      height: 50px;
      width: 50px; }
  header div a:hover {
    color: white; }
  header .input_header {
    background-color: #41413C;
    color: white;
    height: 30px;
    width: 250px;
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem; }
  header ul {
    margin-right: 1rem; }
    header ul li {
      list-style: none;
      display: inline-flex;
      margin: 0.5rem; }
      header ul li a {
        color: black;
        text-decoration: none; }
      header ul li a:hover {
        color: white; }

.logo_total {
  margin-left: 2rem;
  display: inline-flex;
  align-items: center; }

@media only screen and (max-width: 1024px) {
  header {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo_total lista_header" "div_logo_registro div_input";
    align-items: center; }
    header div a {
      color: black;
      text-decoration: none; }
      header div a img {
        height: 50px;
        width: 50px; }
    header div a:hover {
      color: white; }
    header .input_header {
      background-color: #41413C;
      color: white;
      height: 30px;
      width: 250px;
      font-size: 15px;
      font-family: roboto, sans-serif;
      font-weight: bold;
      border: none;
      border-radius: 1.5rem; }
    header ul {
      grid-area: lista_header;
      margin-left: auto;
      margin-right: auto; }
      header ul li {
        list-style: none;
        display: inline-flex;
        margin: 0.5rem; }
        header ul li a {
          color: black;
          text-decoration: none; }
        header ul li a:hover {
          color: white; }
  .logo_total {
    grid-area: logo_total;
    margin-left: auto;
    margin-right: auto; }
  .div_input {
    grid-area: div_input;
    margin-left: auto;
    margin-right: auto; }
  .div_logo_registro {
    grid-area: div_logo_registro;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 600px) {
  header {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo_total div_logo_registro" "lista_header lista_header" "div_input div_input";
    align-items: center; }
    header div a {
      color: black;
      text-decoration: none; }
      header div a img {
        height: 50px;
        width: 50px; }
    header div a:hover {
      color: white; }
    header .input_header {
      background-color: #41413C;
      color: white;
      height: 30px;
      width: 250px;
      font-size: 15px;
      font-family: roboto, sans-serif;
      font-weight: bold;
      border: none;
      border-radius: 1.5rem; }
    header ul {
      grid-area: lista_header;
      margin-left: auto;
      margin-right: auto; }
      header ul li {
        list-style: none;
        display: inline-flex;
        margin: 0.5rem; }
        header ul li a {
          color: black;
          text-decoration: none; }
        header ul li a:hover {
          color: white; }
  .logo_total {
    grid-area: logo_total;
    margin-left: auto;
    margin-right: auto; }
  .div_input {
    grid-area: div_input;
    margin-left: auto;
    margin-right: auto; }
  .div_logo_registro {
    grid-area: div_logo_registro;
    margin-left: auto;
    margin-right: auto; } }

main {
  background-color: #212120;
  display: grid;
  grid-template-columns: 2fr 0.4fr;
  grid-template-rows: 1fr;
  font-family: roboto, sans-serif;
  font-weight: bold; }
  main img {
    height: 150px;
    width: 150px; }
  main ul li {
    list-style: none; }
    main ul li a {
      text-decoration: none;
      color: #92257A; }
      main ul li a:hover {
        color: white; }

.main_contenido_juegos ul li {
  display: inline-flex;
  list-style: none;
  margin: 2rem; }
  .main_contenido_juegos ul li div {
    margin-left: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around; }
    .main_contenido_juegos ul li div p {
      color: white; }

.contenido_banner {
  margin-top: 4rem; }
  .contenido_banner h3 {
    text-align: center;
    color: white; }
  .contenido_banner ul li {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem; }

#main_contacto {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #main_contacto section {
    height: 90vh;
    width: 70vh;
    border-radius: 1.5rem;
    background-color: #41413C;
    flex-direction: column;
    display: flex;
    text-align: center; }

#main_registro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #main_registro section {
    height: 90vh;
    width: 70vh;
    border-radius: 1.5rem;
    background-color: #41413C;
    flex-direction: column;
    display: flex;
    text-align: center; }
  #main_registro a {
    color: white; }
    #main_registro a:hover {
      color: black; }

#main_tyc {
  height: 100vh; }
  #main_tyc div {
    margin-left: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around; }
    #main_tyc div h1, #main_tyc div h2, #main_tyc div p {
      color: white; }
    #main_tyc div a {
      color: #92257A; }
      #main_tyc div a:hover {
        color: white; }

.texto_contacto {
  margin: 0.5rem;
  color: white; }

.input_contacto {
  margin: 1.5rem;
  height: 2rem;
  border: 2px solid #92257A;
  border-radius: 1.5rem;
  color: white;
  background-color: #41413C; }

.input_mensaje_contacto {
  margin: 1.5rem;
  height: 15vh;
  border: 2px solid #92257A;
  border-radius: 1.5rem;
  color: white;
  background-color: #41413C; }

.button_contacto {
  margin: 1.5rem;
  height: 2rem;
  color: white;
  border-radius: 1.5rem;
  border: none;
  background-color: #92257A; }

@media only screen and (max-width: 1024px) {
  #main_contacto {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main_contacto section {
      height: 90vh;
      width: 70vh;
      border-radius: 1.5rem;
      background-color: #41413C;
      flex-direction: column;
      display: flex;
      text-align: center; }
    #main_contacto section {
      height: 75vh;
      width: 60; }
  #main_registro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main_registro section {
      height: 90vh;
      width: 70vh;
      border-radius: 1.5rem;
      background-color: #41413C;
      flex-direction: column;
      display: flex;
      text-align: center; }
    #main_registro section {
      height: 75vh;
      width: 60; } }

@media only screen and (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr; }
  .contenido_banner {
    margin-top: 2rem; }
    .contenido_banner ul li {
      list-style: none;
      display: inline-flex;
      margin: 1rem; }
  #main_contacto {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main_contacto section {
      height: 90vh;
      width: 70vh;
      border-radius: 1.5rem;
      background-color: #41413C;
      flex-direction: column;
      display: flex;
      text-align: center; }
    #main_contacto section {
      height: 75vh;
      width: 60; }
  #main_registro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #main_registro section {
      height: 90vh;
      width: 70vh;
      border-radius: 1.5rem;
      background-color: #41413C;
      flex-direction: column;
      display: flex;
      text-align: center; }
    #main_registro section {
      height: 75vh;
      width: 60; }
  #main_tyc {
    height: 130vh; }
    #main_tyc .contenido_tyc {
      margin: 1.5rem; } }

footer {
  height: 15vh;
  background-color: #92257A;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: roboto, sans-serif;
  font-weight: bold; }
  footer img {
    height: 50px;
    width: 50px; }
  footer div a {
    color: black;
    margin: 1.2rem;
    text-decoration: none; }
  footer div a:hover {
    color: white; }

@media only screen and (max-width: 600px) {
  footer {
    height: 23vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
