footer{
    height: 15vh;
    background-color: map-get($color_page , "rosita");
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: roboto, sans-serif;
    font-weight: bold;
    img{
        height: 50px;
        width: 50px;
    }
    div{
        a{
            color: map-get($color_text, "negrito_text");
            margin: 1.2rem;
            text-decoration: none;
        }
        a:hover{
            color: map-get($color_text , "blanco_text");
        }
    }
}
@media only screen and (max-width: 600px){
    footer{
        height: 23vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}