main{
    background-color: map-get($color_page , "negrito");
    display: grid;
    grid-template-columns: 2fr 0.4fr;
    grid-template-rows: 1fr;
    font-family: roboto, sans-serif;
    font-weight: bold;
    img{
        height: 150px;
        width: 150px;
    }
    ul{
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($color_text , "rosita_text");
            }
            a:hover{
                color: map-get($color_text , "blanco_text");
            }
        }
    }
}
.main_contenido_juegos{
    ul{
        li{
            display: inline-flex;
            list-style: none;
            margin: 2rem;
            div{
                margin-left: 1rem;
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                p{
                    color: map-get($color_text , "blanco_text");
                }
            }
        }
    }
}
.contenido_banner{
    margin-top: 4rem;
    ul{
        li{
            @include lista_vertical;
            margin-top: 3rem;
            h3{
                color: map-get($color_text , "blanco_text");
            }
        }
    }
}